annotated-types 
archspec 
ase 
bibtexparser 
blinker 
boltons 
Bottleneck 
Brotli 
brotlicffi 
casregnum==1.0.1
certifi 
cffi 
charset-normalizer 
chemformula==1.3.1
click 
colorama 
conda-content-trust 
conda-package-handling 
conda_package_streaming 
contourpy 
cryptography 
cycler 
Deprecated 
dill 
distro 
dnspython 
Flask 
fonttools 
frozendict 
future 
gmpy2 
greenlet 
idna 
importlib_metadata 
importlib_resources 
itsdangerous 
Jinja2 
joblib 
jsonpatch 
jsonpointer 
kiwisolver 
latexcodec 
libmambapy 
lxml 
MarkupSafe 
matminer==0.9.3
matplotlib==3.10.6
mendeleev 
menuinst 
mkl-service==2.5.2
mkl_fft 
mkl_random 
monty 
mpmath 
multiprocess 
narwhals 
networkx 
numexpr 
numpy 
orjson 
packaging 
palettable 
pandarallel 
pandas 
pathos 
periodictable 
pillow 
platformdirs 
plotly 
pluggy 
pox 
ppft 
psutil 
pybtex 
pycosat 
pycparser 
pydantic 
pydantic_core 
pyfiglet 
Pygments 
pymatgen 
pymongo 
pyparsing 
PySocks 
python-dateutil 
pytz 
PyYAML 
requests 
ruamel.yaml 
ruamel.yaml.clib 
scikit-learn 
scipy 
setuptools==80.9.0
six 
SMACT 
spglib 
SQLAlchemy 
sympy 
tabulate 
tenacity 
threadpoolctl 
tqdm 
truststore 
typing-inspection 
typing_extensions 
tzdata 
uncertainties 
unicodedata2 
urllib3 
Werkzeug 
wheel==0.45.1
wrapt 
xgboost 
zipp 
zstandard 
