aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aioitertools==0.12.0
aiosignal==1.4.0
annotated-types==0.7.0
attrs==24.3.0
bcrypt==4.2.1
boto3==1.36.5
botocore==1.36.5
Bottleneck 
Brotli 
cachetools==5.5.2
certifi 
cffi 
charset-normalizer 
contourpy 
cryptography 
cycler 
decorator==5.2.1
dnspython 
emmet-core==0.84.6rc3
fonttools 
frozenlist==1.7.0
fsspec==2025.5.1
future 
gcsfs==2025.5.1
google-api-core==2.25.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
idna 
importlib_resources 
jmespath==1.0.1
joblib 
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver 
latexcodec 
maggma==0.71.2
matplotlib==3.10.0
mongomock==4.3.0
monty 
mp-api==0.45.1
mpmath 
msgpack==1.1.0
multidict==6.6.3
networkx 
numexpr 
numpy==1.26.4
oauthlib==3.3.1
orjson==3.10.15
packaging 
palettable 
pandas 
paramiko==3.5.0
pillow 
plotly 
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybtex 
pycparser 
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydash==8.0.5
pymatgen 
pymongo 
PyNaCl==1.5.0
pyparsing 
PySocks 
python-dateutil 
python-dotenv==1.0.1
pytz 
PyYAML 
pyzmq==26.2.0
qmpy-rester==0.2.0
referencing==0.36.1
requests 
requests-oauthlib==2.0.0
rpds-py==0.22.3
rsa==4.9.1
ruamel.yaml 
ruamel.yaml.clib 
s3transfer==0.11.2
scipy 
sentinels==1.0.0
setuptools==75.1.0
six 
smart-open==7.1.0
spglib 
sshtunnel==0.4.0
sympy 
tabulate 
tenacity 
tqdm 
typing_extensions 
tzdata 
uncertainties 
unicodedata2 
urllib3 
wheel==0.44.0
wrapt==1.17.2
yarl==1.20.1
